# Local reference repositories
references/

# Configs
.env
.env.*
!.env.example

# Keys
id_*

# Dependencies
node_modules/

# Compiled output
packages/*/.types/
root/public/assets/
root/lib/
dist/
build/
out/
coverage/

# Other
tmp/
sandbox/
.vscode/
.idea/
*.tsbuildinfo
*.log
*.bak
*~

# Custom scripts
deploy.sh
